# Generic ignores
*.log
*.conf
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
.env

# Ignore folders
.docker
.backups
.ssh
.storage
.cloud
.google.token
deps
tts
image

# Specific files
/zigbee2mqtt/secrets.yaml
/home-assistant/secrets.yaml
/home-assistant/ip_bans.yaml
/home-assistant/known_devices.yaml
/home-assistant/.homekit.state
/home-assistant/.ps4-games*.json
/home-assistant/GA_SERVICE_ACCOUNT.json
token-*.txt

# IDE
.vscode
.Trash*

# Specific keeps
!.gitkeep

!mosquitto/mosquitto.conf
