# Generic ignores
*.log*
*.conf
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
.env

# Ignore folders
.docker
.router-ssh
.storage
.cloud
.google.token
deps
tts
image

# Home Assistant
/secrets.yaml
/ip_bans.yaml
/known_devices.yaml
/.homekit.state
/.ps4-games*.json
/GA_SERVICE_ACCOUNT.json
/www/community
token-*.txt

# Zigbee2MQTT
/zigbee2mqtt/.configuration.yaml.bk
/zigbee2mqtt/configuration.yaml
/zigbee2mqtt/secret.yaml
/zigbee2mqtt/state.json
/zigbee2mqtt/log
/zigbee2mqtt/coordinator_backup.json

# etc
aircast.xml

# IDE
.vscode
.Trash*

# Specific keeps
!.gitkeep
