.backups
.deleted
.docker

home-assistant/blueprints
home-assistant/custom_components
home-assistant/www
home-assistant/.cloud
home-assistant/.router-ssh
home-assistant/.storage
home-assistant/deps

*.db*
*.conf
*.log
